@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(32, 30, 30, 0.979);
}

header{
    padding: 5px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    font-size: 1.5rem;
}






.films {
    background-color: rgba(32, 30, 30, 0.979);
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.film{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid black;
    background-color: rgb(211, 224, 195);
    border-radius: 20px;
    width: 90%;
    position: relative;
    margin-top: 10px;
    border: none;
    
}



.film h4 {
    color: rgba(32, 30, 30, 0.979);
    position: absolute;
    font-size: 3rem;
    
    top: 0px;
    right: 0px;
    margin: 30px;
    font-family: 'Bebas Neue', cursive;
;
}

.film img{
    border-radius: 20px;
}

.film p{
    width: 82%;
    font-size: 1.5rem;
    padding: 8px;
    font-family: 'Nanum Gothic';
    
}
.favBtn {
    padding: 8px;
    cursor: pointer;
    background-color: rgba(8, 8, 8, 0.979);
    color: #fff;
    width: 300px;
    font-size: 1.4rem;
    display: block;
    margin: 0px;
    border: none; border-radius: 0px 0px 20px 20px;
    font-family: 'Bebas Neue', cursive;
   
   
}


.favMovies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    margin: 10px 0px;
    
    
}

.favFilm{
    
    background-color: rgb(211, 224, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
    border-radius: 20px;
    max-width: 35%;
    margin-top: 10px;
    margin-left: 8px;
    
}

.favFilm h4 {
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.favFilm p {
   
    padding: 8px;
    font-size: 1.2rem;
    font-family: 'Nanum Gothic';
    width: 100%;
    height: 220px;
    overflow-y: auto;
    
    
}

@media screen and (max-width: 1100px) {
	.film{
        width: 100%;
    }

    .film h4 {
        font-size: 2rem;
    }
    .film p {
        font-size: 1rem;
    }

}

@media screen and (max-width: 573px){
    .film{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        
        
    }

    .film h4 {
        margin: 0px;
        position: inherit;
    }
}

@media screen and (max-width: 1028px) {
    .favMovies{
        flex-wrap: wrap;
        overflow-x: auto;
    }
	.favFilm{
        
        max-width: 40%;
        flex-wrap: nowrap;
       
    }
    .favFilm h4 {
        font-size: 25px;
    }
    .favFilm p {
        font-size: 1rem;
    }

}

@media screen and (max-width: 774px) {
    .favMovies{
        flex-wrap: wrap;
        overflow-x: auto;
    }
	.favFilm{
        max-width: 100%;
        flex-wrap: nowrap;
       
    }
    .favFilm h4 {
        font-size: 30px;
    }
    .favFilm p {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 579px) {
    .favMovies{
        flex-wrap: wrap;
        overflow-x: auto;
    }
	.favFilm{
        width: 100%;
        flex-wrap: nowrap;
       
       
    }
    .favFilm h4 {
        font-size: 20px;
    }
    .favFilm p {
        font-size: 1.2rem;
    }

}

