* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.films {
    margin-top: 30px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.film{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 1px solid black;
    width: 90%;
}

.film h4 {
    margin: 10px 0;
}